#head {
    background-color: #D9B99B;
    width: 100vw;
    position: relative;
    height: 13vh;
}
#header_buttons {
    top: 4vh;
    position: absolute;
    width: 45vw;
    right: 0%;
    padding-right: 10px;
}
.logo {
    width: 10vw;
    position: relative;
    top: 2vh;
}